$grid-gutter: 20px;
$grid-default-column-identifier: 'column';
$grid-default-row-identifier: 'row';
$grid-source-order-identifier: 'reverse';
$grid-default-center-identifier: 'center';
$grid-default-column-prefix: 'large';
$grid-default-direction: 'ltr';
$grid-enable-source-ordering: false;
$grid-enable-push: false;
$grid-enable-pull: false;
$grid-enable-centering: false;
$grid-enable-border-box: true;
$grid-default-layouts: 12;


@import 'components/functions';
@import 'components/grid-mixins';
@import 'components/grid-generator';

// Include border box sizing for proper grid rendering
@if $grid-enable-border-box == true {
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}