@mixin grid-column-default-values {
    display: block;
    padding-left: calculate-gutter();
    padding-right: calculate-gutter();
    position: relative;
}

@mixin grid-row() {
    display: block;
    margin-left: -(calculate-gutter());
    margin-right: -(calculate-gutter());
    position: relative;
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin grid-column-default {
    @include grid-column-default-values;
    float: if($grid-default-direction == 'ltr', left, right);
    width: 100%;
}

@mixin grid-column($columns, $total, $last: false, $reverse: false) {
    @include grid-column-default-values;
    width: calculate-column-width($columns, $total);
    @if $reverse == false {
        float: if($grid-default-direction == 'ltr', left, right);
    } @else {
        float: if($grid-default-direction == 'ltr', right, left);
    }
    
}

@mixin grid-push($columns, $total, $reverse: false) {
    @if $reverse == false {
        margin-#{if($grid-default-direction == 'ltr', left, right)}: calculate-column-width($columns, $total);
    } @else {
        margin-#{if($grid-default-direction == 'ltr', right, left)}: calculate-column-width($columns, $total);
    }
}

@mixin grid-pull($columns, $total, $reverse: false) {
    @if $reverse == false {
        margin-#{if($grid-default-direction == 'ltr', right, left)}: calculate-column-width($columns, $total);
    } @else {
        margin-#{if($grid-default-direction == 'ltr', left, right)}: calculate-column-width($columns, $total);
    }
}

@mixin grid-center() {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    clear: both;
    &:after,
    &:before {
        clear: both;
        content: "";
        display: table;
    }
}